# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env/

# Outputs
*.png
*.pdf
!outputs/figures/*.png
!outputs/figures/*.pdf

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Misc
*.log
